<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %} Base Template {% endblock %}</title>
</head>
<body>
    
    {% block content %}
        <h1>users in database</h1>
        {%for user in users%}
            <p>{{user.username}}, {{user.email}}, {{user.first_name}}, {{user.last_name}}</p>
        {%endfor%}

    {% endblock %}

</body>
</html>