{% extends 'base.html' %}
 
<title> {% block title%} Secrets {% endblock%} </title>
 
{% block content%} 

{% if "user_name" in session %}
    <h1>Submit  Feedback</h1>
    <h2>You're logged in as {{username}}</h2>

    {% for msg in get_flashed_messages() %}
        {{msg}}
    {% endfor %}

    <form action="/feedback/{{username}}" method="post">
        {{form.hidden_tag()}}
        {% for field in form if field.widget.input_type != 'hidden'%}

        <p>
            {{field.label}}
            {{field}}
        </p>

        {% for error in field.errors%}
            {{error}}
        {%endfor%}

        {% endfor %}

        <button type="submit">Submit</button>
    </form>

{% else %}

    <h2>You must be logged in to Add Feedback</h2>
    <a href="/login">Login</a>

{% endif %}


{% endblock %}







